@model ClothingStoreMVC.Domain.Entities.ProductAggregates.Style
@{
    ViewData["Title"] = "Style Details";
}

<h1>@Model.Name</h1>
<p>@Model.Description</p>

<a asp-action="Index">Back to List</a>
@if (User.IsInRole("admin"))
{
    <span> | </span>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
}